* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

#new-book-btn {
    display: block;
    margin: 0 auto;
    background-color: rgb(4, 53, 84);
    border-radius: 10%;
    color: rgb(154, 199, 86);
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

form {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(89, 50, 50);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="number"],
select {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    margin-top: 8px;
    border: 1px solid seagreen;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);    
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

#library {
    display: flex;
    text-align: center;
    padding: 20px;
}

.book-card {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);    
    font-size: 30px;
    border: solid 2px rgb(66, 50, 50);
    border-radius: 8px;

}

.remove-btn,
.toggle-read-btn {
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    border-radius: 10px;
    align-items: center;
    font-weight: bolder;
}

.read-status {
    padding: 10px;
    margin: 10px;
    background-color: rgb(105, 57, 225);
}