* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#new-book-btn {
    display: block;
    margin: 0 auto;
    background-color: rgb(4, 53, 84);
    border-radius: 10%;
    color: rgb(154, 199, 86);
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
    border: none;
}